{% extends 'registration/login.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h2>Введите новый пароль</h2>
                {% if validlink %}
                <form method="post" novalidate>
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </form>
                {% else %}
                    <p style="color:red;">Недопустимая ссылка</p>
                    <p>
                        <a href="{% url 'password_reset' %}">Отправить снова ссылку для сброса пароля</a>
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
