{% extends 'registration/login.html' %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h2>Пароль успешно изменён!</h2>
                <p>Теперь вы можете <a href="{% url 'login' %}">Войти</a> снова</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
