{% extends 'library/base.html' %}

{% block content %}
  <form action="" method="post">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    <button type="submit">Отправить</button>
  </form>
{% endblock %}
