{% extends "library/base.html" %}

{% block content %}
  <h1>Название: {{ book.title }}</h1>

    <p><strong>Автор:</strong> {{ book.author }}</p>
    <p><strong>Жанр:</strong> {{ book.genre.all|join:", " }}</p>
    <p><strong>Описание:</strong> {{ book.description }}</p>



{% endblock %}
