{% extends "library/base.html" %}

{% block content %}

<form action="{% url 'search' %}" method="get">
  <input name="q" type="text" placeholder="Поиск...">
  <button type="submit" class="btn btn-primary btn-lg">Поиск</button>
</form>
 <h1>Список книг</h1>
 {% if book_list %}
 <ul>
 {% for book in book_list %}
 <li>
 <a href="{% url 'book_detail' pk=book.pk %}">{{ book.title }}</a> ({{ book.author }})
 </li>
 {% endfor %}
 </ul>
 {% else %}
 <p>В библиотеке нет книг.</p>
 {% endif %}
{% endblock %}
