{% extends 'library/base.html' %}

{% block content %}
<h1>Удалить книгу</h1>

<p>Вы уверены, что хотите удалить книгу: {{ book }}?</p>

<form action="" method="POST">
  {% csrf_token %}
  <input type="submit" value="Да, удалить.">
</form>

{% endblock %}