{% extends 'library/base.html' %}

{% block content %}
<h1>Удалить жанр</h1>

<p>Вы уверены, что хотите удалить жанр: {{ genre }}?</p>

<form action="" method="POST">
  {% csrf_token %}
  <input type="submit" value="Да, удалить.">
</form>

{% endblock %}
