{% extends "library/base.html" %}

{% block content %}
    <h1>Редактировать</h1>
    <li><a href="{% url 'list-book' %}">Книги</a></li>
    <li><a href="{% url 'list-author' %}">Авторы</a></li>
    <li><a href="{% url 'list-genre' %}">Жанры</a></li>
{% endblock %}
