{% extends "library/base.html" %}

{% block content %}
 <h1>Библиотека</h1>
 <p>Добро пожаловать в локальную библиотеку!</p>
 <h5>Библиотека имеет следующие подсчеты записей:</h5>
 <ul>
 <li><strong>Книги:</strong> {{ num_books }}</li>
 <li><strong>Авторы:</strong> {{ num_authors }}</li>
 </ul>

<p>Вы уже посетили эту страницу {{ num_visits }} раз.

{% endblock %}
