{% extends 'library/base.html' %}

{% block content %}
    <a href="{% url 'add-genre' %}"><h4>Создать жанр</h4></a>
    <h3>Список жанров</h3>
    {% for genre in genres %}
        <h5>{{ genre.name }}</h5>
        <a href="{% url 'update-genre' pk=genre.id %}">Изменить</a>
        <a href="{% url 'delete-genre' pk=genre.id %}">Удалить</a>
    {% endfor %}

{% endblock %}

