{% extends 'library/base.html' %}

{% block content %}
    <a href="{% url 'add-author' %}"><h4>Создать автора</h4></a>
    <h3>Список авторов</h3>
    {% for author in authors %}
        <h5>{{ author.first_name }} {{ author.last_name }}</h5>
        <a href="{% url 'update-author' pk=author.id %}">Изменить</a>
        <a href="{% url 'delete-author' pk=author.id %}">Удалить</a>
    {% endfor %}

{% endblock %}

