{% extends 'library/base.html' %}

{% block content %}
    <a href="{% url 'add-book' %}"><h4>Создать книгу</h4></a>
    <h3>Список книг</h3>
    {% for book in books %}
        <h5>{{ book.title }}</h5> <p>{{ book.author }}</p>
        <a href="{% url 'update-book' pk=book.id %}">Изменить</a>
        <a href="{% url 'delete-book' pk=book.id %}">Удалить</a>
    {% endfor %}

{% endblock %}