{% extends "library/base.html" %}

{% block content %}
<h1>Результат поиска</h1>

<ul>
  {% for book in object_list %}
   <li>
 <a href="{% url 'book_detail' pk=book.pk %}">{{ book.title }}</a> ({{ book.author }})
 </li>
  {% endfor %}
</ul>
{% endblock %}
